* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.container {
  border: 1px solid #ddd;
  height: 568px;
  width: 320px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

select {
  visibility: hidden;
  position: absolute;
  top: -100px;
  left: -250px;
}

.touch-select .touch-select-search-container {
  background: #FFF;
  border-bottom: 1px solid #EEE;
  padding: 5px;
  position: relative;
  z-index: 2000;
}
.touch-select .touch-select-search-container .touch-select-search {
  border: 1px solid #ddd;
  border-radius: 20px;
  height: 40px;
  padding: 0 15px;
  width: 100%;
}
.touch-select .touch-select-search-container .touch-select-search:focus {
  border-color: #3498db;
  color: #3498db;
  outline: 0;
  box-shadow: 0 0 0;
}
.touch-select .touch-select-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  margin-top: 51px;
  top: 0px;
  overflow: auto;
}
.touch-select .touch-option {
  display: block;
  padding: 8px 20px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.touch-select .touch-option.active {
  background: #3498db;
  color: #FFF;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.touch-select .touch-optgroup {
  color: #aaa;
  padding: 8px 10px;
}
