/* line 4, ../scss/touchSelect.scss */
.touch-select {
  position: relative;
}
/* line 6, ../scss/touchSelect.scss */
.touch-select .touch-select-search-container {
  background: #FFF;
  border-bottom: 1px solid #EEE;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* line 14, ../scss/touchSelect.scss */
.touch-select .touch-select-search-container .touch-select-search {
  border: 1px solid #ddd;
  border-radius: 20px;
  height: 40px;
  padding: 0 15px;
  width: 100%;
}
/* line 20, ../scss/touchSelect.scss */
.touch-select .touch-select-search-container .touch-select-search:focus {
  border-color: #3498db;
  color: #3498db;
  outline: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
/* line 29, ../scss/touchSelect.scss */
.touch-select .touch-select-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  margin-top: 51px;
  top: 0px;
  overflow: auto;
}
/* line 38, ../scss/touchSelect.scss */
.touch-select .touch-option {
  display: block;
  padding: 8px 20px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 45, ../scss/touchSelect.scss */
.touch-select .touch-option.active {
  background: #3498db;
  color: #FFF;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 52, ../scss/touchSelect.scss */
.touch-select .touch-optgroup {
  color: #aaa;
  padding: 8px 10px;
}
